.work-sangeng-video {
	display: flex;
	margin-bottom: 152px;
	video {
		padding: 60px;
		background-color: #2c2c2c;
		border-radius: 24px;
		margin: 0 auto;
		box-sizing: content-box;
	}
}

.work-sangeng-sketch {
	margin-bottom: 96px;
}

.work-sangeng-v3 {
	img {
		margin-bottom: 96px;
	}
	img:last-child {
		display: block;
		margin: 0 auto;
	}
}
