/* video book mark */
.about-video-bookmark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #292B2E;
    border-radius: 24px;
    padding: 16px;
}

.about-video-thumbnail {
width: 100px;
height: 100px;
border-radius: 12px;
}

.about-video-text-wrap {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
}

#about-video-title {
    font-size: 24px;
    color: FFFFFF;
    font-weight: 700;
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}


#about-video-linkText {
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
}