.project-group-wrapper {
    /* --margin: 32px; */
    padding-bottom: 88px;
    /* margin-left: var(--margin);
    margin-right: var(--margin); */
    margin-left: 32px;
    margin-right: 32px;
}


.project-year {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    /* margin-left: var(--margin); */
    margin-left: 32px;
}

.project-ending {
    height: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}







